@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

body {
  background-color: #080c20;
}

.input-error {
  @apply bg-blueColor text-grayColor py-3 px-4 w-full rounded-full text-[15px] font-extrabold focus:outline-none md:max-w-[350px] border border-pinkColor;
}

.input-normal {
  @apply bg-blueColor text-grayColor py-3 px-4 w-full rounded-full text-[15px] font-extrabold focus:outline-none md:max-w-[350px] border;
}

button:disabled {
  opacity: 0.35;
}
